import(maptools)
import(modeest)
import(methods)
import(utils)
import(graphics)
importFrom("stats", "sd")
importFrom("stats", "dist")
importFrom("stats", "density")
importFrom("stats", "median")
importFrom("vegan", "spantree")
importFrom("rgbif", "occ_search")
importFrom("RJSONIO", "fromJSON")
importFrom("plyr", "rbind.fill")
importFrom("data.table", "fread")
exportPattern("^[^\\.]")
